@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;800&display=swap");

*{
    padding: 0;
    margin: 0;
    font-family: 'poppins',sans-serif;
    box-sizing: border-box;
}

body{
    width: 100%;
    height: 100vh;
    overflow: hidden;
    background-color: #91dcff;
}

nav{
    width: 100%;
    height: 10vh;
    position: sticky;
}

.nav-container{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.nav-container .logo span{
    font-size: 2rem;
    font-weight: bold;
    color: #9e3d05;
}

.hamburg,.cancel{
    cursor: pointer;
    position: absolute;
    right: 15px;
    top: 10px;
    color: #9e3d05;
    font-size: clamp(2.5rem,0.5rem + 5vw, 3rem);
    display: none;
}

.nav-container .links{
    display: flex;
}

.nav-container .links a{
    font-size: 1.2rem;
    color: #91dcff;
    margin: 0 20px;
    text-decoration: none;
    font-weight: 550;
    transition: 0.3 linear;
}

.nav-container .links a:hover{
    color: #fffefe;
    border-bottom: 2px solid #fffefe ;
}

.dropdown{
    z-index: 10;
    position: absolute;
    top: 0;
    transform: translateY(0px);
    width: 100%;
    height: auto;
    backdrop-filter: blur(5px) brightness(40%);
    box-shadow: 0 0 20px #91dcff;
    transition: 0.2s linear;
}

.dropdown .links a{
    display: flex;
    color: #91dcff;
}